*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    height: 100vh;
    background-image: url('../image/back.jpg');}

    header{
    background-image: linear-gradient(30deg,#0b628a ,#066da5 );
    height: 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo {
    color: #f4f0ef;
}
header .logo span{
     color: rgb(204, 172, 14);
}
header nav ul li{
    display: inline-block;
    
    padding: 25px;
}
header nav ul li a{
    display: inline-block;
    color:#f4f0ef;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    transition: 0.7s;
}
header nav ul li a:hover{
     background-color: rgb(204, 172, 14);
     border-radius: 5px;
     padding: 5px;
    transform: scale(1.4);
}
    
.container{
  
    height: 88%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container main{
    padding: 0 20px;
    flex-basis: 50%;
}
.container main img{
    margin: 20px;
    padding: 20px;
    height: 50vh;
}
.container main h1{
    font-size: 50px;
}
.container main p{
    font-size: 15px;
    line-height: 18px;
}
.container main button{
    width: 45%;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid #0e0603;
    margin-top: 20px;
    font-weight: 600;
    transition: 0.5s;
}
.container main button:hover{
    background-color:steelblue;
    border: 2px solid #18191f;
    color: #f5efef;
}
aside{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.container aside{
    flex-basis: 40%;
}
.card{
    
    margin: 10px;
    width:250px;
    height: 200px;
    border-radius: 10px;
    padding: 0 ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: 0.5s;
}
.card:hover{
    transform: translateY(-10px);
}
.card-1{
     background-image:url('../image/اسال/IMG-20250916-WA0036.jpg') ;
}
.card-2{
     background-image:url('../image/اسال/IMG-20250916-WA0033.jpg') ;
}
.card-3{
     background-image:url('../image/اسال/IMG-20250916-WA0035.jpg') ;
}
.card-4{
     background-image:url('../image/Page3.jpg') ;
}



